<div>
  <app-header></app-header>
  <section class="limiter">
    <h3 class="text_center push_top_medium">Средние показатели за месяц</h3>

    <div class="desktop pad_top_small push_bottom_medium">
      <canvas id="chart" width="100" height="25"></canvas>
    </div>

    <div class="mobile pad_top_small push_bottom_medium">
        <canvas id="chart-mobile" width="1" height="1"></canvas>
      </div>

    <div class="scroll-wrapper push_bottom_medium">
      <table class="table push_top_medium" cellspacing="0">
        <tr>
          <th>Дата</th>
          <th>Чтение</th>
          <th>Аудирование</th>
          <th>Речь</th>
          <th>Произношение</th>
          <th>Словарный запас</th>
        </tr>
        <tr>
          <td>10 апр</td>
          <td>81</td>
          <td>35</td>
          <td>74</td>
          <td>24</td>
          <td>85</td>
        </tr>
        <tr>
          <td>3 апр</td>
          <td>64</td>
          <td>64</td>
          <td>75</td>
          <td>43</td>
          <td>77</td>
        </tr>
        <tr>
          <td>27 мар</td>
          <td>86</td>
          <td>64</td>
          <td>65</td>
          <td>69</td>
          <td>75</td>
        </tr>
        <tr>
          <td>20 мар</td>
          <td>87</td>
          <td>98</td>
          <td>77</td>
          <td>60</td>
          <td>75</td>
        </tr>
        <tr>
          <td>13 мар</td>
          <td>81</td>
          <td>64</td>
          <td>72</td>
          <td>60</td>
          <td>75</td>
        </tr>
      </table>
    </div>
  </section>

  <app-footer></app-footer>
</div>
