@use '../../swatch.scss';
@use '../../breakpoints.scss';

.scroll-wrapper {
  max-width: 100%;
  overflow-x: auto;
}

.table {
  width: 100%;
  border-collapse: separate;
  border: 1px solid swatch.$accentDark;
  border-radius: .5rem;
  border-spacing: 0;
}

.desktop {
    display: none;
}

th {
  border-top: none;
  background-color: swatch.$accentDark;
}

td,
th {
  padding: .5rem 1rem;
  border-left: 1px solid swatch.$accentDark;
  border-top: 1px solid swatch.$accentDark;
}

td:first-child {
  background-color: swatch.$accentLight;
}

@media screen and (min-width: breakpoints.$tablet) {
    .desktop {
        display: block;
    }

    .mobile {
        display: none;
    }
}