<section class="pad_top_large pad_bottom_large"
  style="background-color: #fcfae1;">

  <div class="limiter">
    <h2 class="title">
      Наше виденье
    </h2>

    <p>
      Изучение иностранного языка - это больше,
      чем просто открытие нового способа что-то сказать. Это
      открытие нового способа увидеть мир. Каждый язык
      уникален, и нет лучше способа понять
      другую культуру, чем понять ее язык.
    </p>

    <img class="thumb image" width="480"
      src="assets/about-thumb.png">

    <p>
      Когда вы посещаете языковую школу, вы
      вкладываете время и энергию в один из лучших способов
      общения с окружающим миром.
      Изучение языка - длительный процесс, но с
      самого начала вы будете вознаграждены новыми
      возможностями, культурными открытиями и более ясным
      ощущением мира в целом. Откройте свой разум и посетите
      школу иностранных языков в этом году!
    </p>
  </div>
</section>
