<section class="hero flex limiter flex_center">
  <div class="content">
    <h1 class="title">
      <strong>Применяем</strong> языки, а не зубрим с
      книжек 😉
    </h1>
    <p>
      Любишь постоянные прыжки от теории к практике и
      обратно? <em>Тогда давай к нам!</em>
    </p>
    <div class="flex flex_wrap">
      <a class="button ui-link dark" href="tel:+7777123456">Записаться на
        пробный урок</a>
      <span class="button subtle">(это бесплатно)</span>
    </div>
  </div>
  <img class="thumb" width="720"
    src="assets/hero-thumb.png">
</section>
