@use '../../swatch.scss';

.message {
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
}

.message__bubble {
    padding: 30px;
    border-radius: 30px;
    border-bottom-right-radius: 0;
    margin: 0;
    background-color: swatch.$accent;
}